<section class="activity-pcg">
  <div class="container activity-pcg__container">
    <div class="activity-pcg__information">
      <div class="activity-pcg__text-block">
        <h2 class="activity-pcg__title-text title-text">
          standard
        </h2>
        <p class="activity-pcg__text small-text">
          очень короткое описание.
           Барная стойка — прилавок для продажи напитков в барах,
            кафе и ресторанах, отделяющих бармена от посетителя.
        </p>
      </div>
      <div class="activity-pcg__buy">
        <div class="activity-pcg__buy-text-block">
          <h3 class="activity-pcg__buy-title title-text">
            закажите
            в один клик
          </h3>
          <p class="activity-pcg__text small-text activity-pcg__text--unvisible">
            от 500.000 р
          </p>
        </div>
        <a href="" class="activity-pcg__btn button btn-reset">
          <span class="button__text">в корзину</span>
          <svg class="button__arrow" width="24" height="24">
            <use xlink:href="img/sprite.svg#button-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="activity-pcg__img-block">
      <picture class="activity-pcg__pic1">
        <source srcset="img/clab-pic1.webp" type="image/webp">
        <img loading="lazy" src="img/clab-pic1.png" class="activity-pcg__pic" width="776" height="320" alt="клуб 500">
      </picture>
      <picture class="activity-pcg__pic2">
        <source srcset="img/clab-pic2.webp" type="image/webp">
        <img loading="lazy" src="img/clab-pic2.png" class="activity-pcg__pic" width="776" height="320" alt="клуб 500">
      </picture>
    </div>
  </div>
</section>
