<section class="blinding">
  <div class="container blinding__container">
    <h2 class="blinding__title-text title-text">
      Самые яркие ивенты
    </h2>
    <div class="blinding__img-block">
      <picture class="blinding__pic1">
        <source srcset="img/blinding-pic1.webp" type="image/webp">
        <img loading="lazy" src="img/blinding-pic1.png" class="blinding__pic" width="512" height="512" alt="клуб 500">
      </picture>
      <picture class="blinding__pic2">
        <source srcset="img/blinding-pic2.webp" type="image/webp">
        <img loading="lazy" src="img/blinding-pic2.png" class="blinding__pic" width="512" height="524" alt="клуб 500">
      </picture>
      <picture class="blinding__pic3">
        <source srcset="img/blinding-pic3.webp" type="image/webp">
        <img loading="lazy" src="img/blinding-pic3.png" class="blinding__pic" width="512" height="336" alt="клуб 500">
      </picture>
      <picture class="blinding__pic4">
        <source srcset="img/blinding-pic4.webp" type="image/webp">
        <img loading="lazy" src="img/blinding-pic4.png" class="blinding__pic" width="512" height="424" alt="клуб 500">
      </picture>
      <picture class="blinding__pic5">
        <source srcset="img/blinding-pic5.webp" type="image/webp">
        <img loading="lazy" src="img/blinding-pic5.png" class="blinding__pic" width="512" height="864" alt="клуб 500">
      </picture>
    </div>

  </div>
</section>
