<section class="ceremony">
  <div class="container ceremony__container">
    <div class="ceremony__flex">
      <picture class="ceremony__piciture1">
        <source srcset="img/ceremony1.webp" type="image/webp">
        <img loading="lazy" src="img/ceremony1.png" class="ceremony__piciture"  width="952" height="512" alt="Красивейшая свадьба">
      </picture>
      <picture class="ceremony__piciture2">
        <source srcset="img/ceremony2.webp" type="image/webp">
        <img loading="lazy" src="img/ceremony2.png" class="ceremony__piciture"  width="952" height="424" alt="Красивейшая свадьба">
      </picture>
    </div>
    <picture class="ceremony__piciture3">
      <source srcset="img/ceremony3.webp" type="image/webp">
      <img loading="lazy" src="img/ceremony3.png" class="ceremony__piciture" width="600" height="952" alt="Красивейшая свадьба">
    </picture>
  </div>
</section>
