<section class="clab">
  <div class="container">
    <h2 class="clab__title-text title-text">
      clab 500
    </h2>

    <picture class="clab__pic1">
      <source srcset="img/clab-pic1.webp" type="image/webp">
      <img loading="lazy" src="img/clab-pic1.png" class="clab__pic" width="1575" height="1040" alt="клуб 500">
    </picture>
    <picture class="clab__pic2">
      <source srcset="img/clab-pic2.webp" type="image/webp">
      <img loading="lazy" src="img/clab-pic2.png" class="clab__pic" width="1575" height="1040" alt="клуб 500">
    </picture>
  </div>
</section>
