.burger-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(70px + var(--header-height));
  width: 100%;
  height: 100vh;
  background-color: var(--color-off-black);
  transform: translateY(-120%);
  transition: transform var(--transition-default);

  &__button {
    flex-shrink: 0;
    margin-bottom: 78px;

    @include mobile {
      margin-bottom: 32px;
    }
  }

  &__nav {
    margin-bottom: 90px;
    padding: 0 15px;

    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;

      &--mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

        @include small-tablet {
          margin-bottom: 28px;
        }

        @include mobile {
          margin-bottom: 20px;
        }

        @media (min-width: 1024px) {
          display: none;
        }
      }
    }

    &-item {
      font-family: var(--font-family-title);
      font-weight: 400;
      font-size: 40px;
      line-height: 105%;
      letter-spacing: 0.15em;
      text-align: center;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-bottom: 1em;
      }

      &--with-image {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 50%;
          width: 48px;
          height: 48px;
          background-image: url("../img/burger-menu__link-image.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          transform: translateX(150%);
        }
      }

      @include small-tablet {
        font-size: 28px;
      }

      @include mobile {
        font-size: 20px;
      }
    }

    &-link {
      color: #fff;
    }

    @include small-tablet {
      margin-bottom: 50px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 0;
    border-top: 1px solid var(--color-light);
    padding: 18px 0;
    width: 100%;

    &-link {
      margin: 0 36px;
      font-weight: 400;
      font-size: 20px;
      line-height: 165%;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: var(--color-light);

      &:last-child {
        @include small-tablet {
          margin-top: 1em;
        }
      }

      @include small-tablet {
        font-size: 18px;
      }

      @include mobile {
        font-size: 14px;
      }
    }

    @include small-tablet {
      flex-wrap: wrap;
    }
  }

  &.menu--active {
    transform: translateY(0);
  }

  @include small-tablet {
    padding-top: calc(42px + var(--header-height));
  }

  @include tablet {
    overflow-y: auto;
    height: 100%;
  }
}
