.burger {
  @include burger;

  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--color-light);

  &__text {
    margin-left: 40px;

    @include mobile {
      display: none;
    }
  }
}
