.good-org {
  margin-top: 40px;
  margin-bottom: 200px;
  text-transform: uppercase;
  color: var(--color-light);

  &__content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-top: 1px solid var(--color-light);
    padding-top: 40px;

    @media screen and (max-width: 1060px) {
      flex-direction: column;
    }
  }

  &__title-text {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0.15em;
    text-align: center;

    @media screen and (max-width: 1060px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 800px) {
      font-size: 24px;
    }
  }

  &__picture-container {
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin: 1;

    @media screen and (max-width: 1060px) {
      order: 2;
      margin-bottom: 72px;
      width: 100%;
    }
  }

  &__pic {
    height: 100%;

    @media screen and (max-width: 1060px) {
      width: 98vw;
    }
  }

  &__text-block {
    display: flex;
    flex-basis: 44%;
    flex-direction: column;
    justify-content: space-between;
    order: 0;
    margin-left: 40px;
    max-width: 544px;
    max-height: 632px;

    @media screen and (max-width: 1060px) {
      margin-left: 0;
      max-width: 100%;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    letter-spacing: 0.15em;
    text-align: left;

    &--margin {
      padding-bottom: 72px;
    }

    @media screen and (max-width: 1060px) {
      margin-bottom: 72px;

      &--margin {
        padding-bottom: 0;
      }
    }

    @media screen and (max-width: 800px) {
      margin-bottom: 0;
      font-size: 12px;
    }
  }

  @media screen and (max-width: 1060px) {
    margin-bottom: 300px;
  }

  @media screen and (max-width: 800px) {
    margin-bottom: 120px;
  }
}
